.box{
  width: 10em;
  height: 10em;
}

#player1{
  background-color: red;
  position: absolute;;
  left: 1px;
  top: 10px;
}

#player2{
  background-color: blue;
  position: absolute;
  left: 1px;
  top: 200px;
}

.main-container{
  position: relative;;
  border-right: 4px solid black;
  margin-right: 5px;
}
