.box{
  width: 10em;
  height: 10em;
}

#player1{
  background-color: red;
  position: relative;
  left: 0%;
}

#player2{
  background-color: blue;
  position: relative;
  left: 0%;
}

.main-container{
  border-right: 4px solid black;
  margin-right: 5px;
}
